{% extends "public/rapport.html" %}
{% load staticfiles %}

{% block content %}
<style>
    #Filter {
    font-size: 0.8em;
    }
</style>

<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/rapport/pluviometrie/overview/">Vue d'ensemble <span class="sr-only">(current)</span></a></li>
                <li><a href="/rapport/pluviometrie/overview/moyenne/">Moyenne Ponderée</a></li>
                <li><a href="#">Alertes et Zones à risques</a></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>
        <div id="lesblocs" style="margin-left:0;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
             {% include "prix_marche/includes/report_overview.html" %}
        </div>
    </div>
</div>
{% endblock content %}


